USE [quanLyKiTucXa]
GO
/****** Object:  Table [dbo].[hoaDonDienNuoc]    Script Date: 10/21/2020 1:31:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDonDienNuoc](
	[idHoaDon] [int] NOT NULL,
	[idPhong] [int] NOT NULL,
	[thang] [int] NULL,
	[thanhToan] [nvarchar](20) NULL,
 CONSTRAINT [pk_hoaDonDienNuoc] PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC,
	[idPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoaDonPhong]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoaDonPhong](
	[IdHopDong] [int] NOT NULL,
	[idPhong] [int] NOT NULL,
	[maSinhVien] [int] NOT NULL,
	[KiHan] [int] NULL,
	[ngayBatDau] [datetime] NULL,
	[thanhToan] [nvarchar](20) NULL,
 CONSTRAINT [hopDong1] PRIMARY KEY CLUSTERED 
(
	[maSinhVien] ASC,
	[idPhong] ASC,
	[IdHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quanLiHoSoSinhVien]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quanLiHoSoSinhVien](
	[maSinhVien] [int] NOT NULL,
	[hinhAnh] [image] NULL,
	[hoTen] [nvarchar](30) NULL,
	[diaChi] [nvarchar](30) NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[khoa] [nvarchar](20) NULL,
	[ngaySinh] [datetime] NULL,
	[soDienThoai] [nvarchar](15) NULL,
 CONSTRAINT [masinhvien] PRIMARY KEY CLUSTERED 
(
	[maSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quanLiPhong]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quanLiPhong](
	[idPhong] [int] NOT NULL,
	[tinhTrang] [nvarchar](20) NULL,
	[sucChua] [int] NULL,
	[dangThue] [int] NULL,
 CONSTRAINT [pk_quanLiPhong] PRIMARY KEY CLUSTERED 
(
	[idPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[hoaDonPhong] ([IdHopDong], [idPhong], [maSinhVien], [KiHan], [ngayBatDau], [thanhToan]) VALUES (1, 101, 1, 6, CAST(N'2020-10-18T00:00:00.000' AS DateTime), N'Da thanh toan')
INSERT [dbo].[hoaDonPhong] ([IdHopDong], [idPhong], [maSinhVien], [KiHan], [ngayBatDau], [thanhToan]) VALUES (2, 101, 2, 6, CAST(N'2020-10-18T00:00:00.000' AS DateTime), N'Da thanh toan')
INSERT [dbo].[hoaDonPhong] ([IdHopDong], [idPhong], [maSinhVien], [KiHan], [ngayBatDau], [thanhToan]) VALUES (3, 102, 3, 6, CAST(N'2020-10-18T00:00:00.000' AS DateTime), N'Da thanh toan')
INSERT [dbo].[quanLiPhong] ([idPhong], [tinhTrang], [sucChua], [dangThue]) VALUES (101, N'Đang sử dụng', 6, 2)
INSERT [dbo].[quanLiPhong] ([idPhong], [tinhTrang], [sucChua], [dangThue]) VALUES (102, N'Đang sử dụng', 6, 2)
INSERT [dbo].[quanLiPhong] ([idPhong], [tinhTrang], [sucChua], [dangThue]) VALUES (103, N'Phòng trống', 6, 0)
ALTER TABLE [dbo].[hoaDonDienNuoc]  WITH CHECK ADD  CONSTRAINT [fk_quanLiPhong_DienNuoc] FOREIGN KEY([idPhong])
REFERENCES [dbo].[quanLiPhong] ([idPhong])
GO
ALTER TABLE [dbo].[hoaDonDienNuoc] CHECK CONSTRAINT [fk_quanLiPhong_DienNuoc]
GO
ALTER TABLE [dbo].[hoaDonPhong]  WITH CHECK ADD  CONSTRAINT [fk_quanLiPhong] FOREIGN KEY([idPhong])
REFERENCES [dbo].[quanLiPhong] ([idPhong])
GO
ALTER TABLE [dbo].[hoaDonPhong] CHECK CONSTRAINT [fk_quanLiPhong]
GO
ALTER TABLE [dbo].[hoaDonPhong]  WITH CHECK ADD  CONSTRAINT [fk_sinhVien] FOREIGN KEY([maSinhVien])
REFERENCES [dbo].[quanLiHoSoSinhVien] ([maSinhVien])
GO
ALTER TABLE [dbo].[hoaDonPhong] CHECK CONSTRAINT [fk_sinhVien]
GO
/****** Object:  StoredProcedure [dbo].[deleteBill]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteBill] 
@IdHopDong_p int
as
begin 
	delete hoaDonPhong where IdHopDong= @IdHopDong_p
end 
GO
/****** Object:  StoredProcedure [dbo].[findContract]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findContract]  
@IdHopDong_p int
as
begin 
	select * from hoaDonPhong where IdHopDong= @IdHopDong_p
end 
GO
/****** Object:  StoredProcedure [dbo].[findPaidContract]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findPaidContract]  
@IdHopDong_p int
as
begin 
	select * from hoaDonPhong where IdHopDong= @IdHopDong_p and thanhToan = 'Da thanh toan'
end 
GO
/****** Object:  StoredProcedure [dbo].[findPaidContract1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findPaidContract1]  
as
begin 
	select * from hoaDonPhong where thanhToan = 'Da thanh toan'
end 
GO
/****** Object:  StoredProcedure [dbo].[findUnaidContract]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findUnaidContract]  
@IdHopDong_p int
as
begin 
	select * from hoaDonPhong where IdHopDong= @IdHopDong_p and thanhToan = 'Chua thanh toan'
end 
GO
/****** Object:  StoredProcedure [dbo].[findUnaidContract1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findUnaidContract1]  
@IdHopDong_p int
as
begin 
	select * from hoaDonPhong where thanhToan = 'Chua thanh toan'
end 
GO
/****** Object:  StoredProcedure [dbo].[findUnaidContract2]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[findUnaidContract2]
as
begin 
	select * from hoaDonPhong where thanhToan = 'Chua thanh toan'
end
GO
/****** Object:  StoredProcedure [dbo].[getAllBill1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getAllBill1]
as
begin 
	select * from hoaDonPhong
end 
GO
/****** Object:  StoredProcedure [dbo].[getAllRoom]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getAllRoom]
as
begin 
	select  idPhong from quanLiPhong 
end 
GO
/****** Object:  StoredProcedure [dbo].[getAllStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getAllStudent] 
as
begin 
	select maSinhVien , hoTen , diaChi , gioiTinh , khoa ,ngaySinh , soDienThoai from quanLiHoSoSinhVien
end 
GO
/****** Object:  StoredProcedure [dbo].[pc_insertBill]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pc_insertBill]
	@IdHopDong_p int  ,
	@idPhong_P int  ,
	@maSinhVien_p int ,
	@KiHan_p int ,
	@ngayBatDau_p datetime ,
	@thanhToan_p nvarchar(20) 
AS
BEGIN
	Insert into hoaDonPhong(IdHopDong,idPhong,maSinhVien,KiHan,ngayBatDau ,thanhToan )
	values(@IdHopDong_p,@idPhong_p,@maSinhVien_p,@KiHan_p,@ngayBatDau_p,@thanhToan_p )
END
GO
/****** Object:  StoredProcedure [dbo].[showListStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showListStudent]
@tenPhong int 
as
begin 
select a.hoTen from quanLiHoSoSinhVien a , hoaDonPhong b where b.IdPhong = @tenPhong and a.maSinhVien = b.maSinhVien	
end 
GO
/****** Object:  StoredProcedure [dbo].[showListStudent1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[showListStudent1]
@tenPhong int 
as
begin 
select a.hoTen as N'Danh sách sinh viên tại phòng' from quanLiHoSoSinhVien a , hoaDonPhong b where b.IdPhong = @tenPhong and a.maSinhVien = b.maSinhVien	
end 
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteStudent]
	@MaSVP nchar(10)
AS
BEGIN
	Delete from quanLiHoSoSinhVien where maSinhVien = @MaSVP
END
GO
/****** Object:  StoredProcedure [dbo].[sp_findStudent1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_findStudent1]
	@MaSVP nchar(10)
AS
BEGIN
	select maSinhVien , hoTen , diaChi , gioiTinh , khoa ,ngaySinh , soDienThoai from quanLiHoSoSinhVien where maSinhVien = @MaSVP 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllBoyStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAllBoyStudent]	
AS
BEGIN
	select maSinhVien , hoTen , diaChi , gioiTinh , khoa ,ngaySinh , soDienThoai from quanLiHoSoSinhVien where gioiTinh = 'Nam'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllGirlStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAllGirlStudent]	
AS
BEGIN
	select maSinhVien , hoTen , diaChi , gioiTinh , khoa ,ngaySinh , soDienThoai from quanLiHoSoSinhVien where gioiTinh = 'Nữ'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllGirlStudent1]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAllGirlStudent1]	
AS
BEGIN
	select maSinhVien , hoTen , diaChi , gioiTinh , khoa ,ngaySinh , soDienThoai from quanLiHoSoSinhVien where gioiTinh = N'Nữ'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSinhvien]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertSinhvien]
	@maSinhVien_p int ,
	@hinhAnh_p image,
	@hoTen_P nvarchar(30) ,
	@diaChi_p nvarchar(30),
	@gioiTinh_P nvarchar(10) ,
	@khoa_P nvarchar(20),
	@ngaySinh_P datetime ,
	@soDienThoai_P nvarchar(15) 
AS
BEGIN
	Insert into quanLiHoSoSinhVien (maSinhVien,hinhAnh,hoTen,diaChi,gioiTinh ,khoa , ngaySinh , soDienThoai)
	values(@maSinhVien_p,@hinhAnh_P,@hoTen_P,@diaChi_P,@Gioitinh_p,@khoa_p , @ngaySinh_p , @soDienThoai_p)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_updateStudent]    Script Date: 10/21/2020 1:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_updateStudent]
	@maSinhVien_p int ,
	@hinhAnh_p image,
	@hoTen_P nvarchar(30) ,
	@diaChi_p nvarchar(30),
	@gioiTinh_P nvarchar(10) ,
	@khoa_P nvarchar(20),
	@ngaySinh_P datetime ,
	@soDienThoai_P nvarchar(15) 
AS
BEGIN
	update quanLiHoSoSinhVien
	set hinhAnh = @hinhAnh_p , hoTen = @hoTen_p , 
	diaChi = @diaChi_p  , gioiTinh = @gioiTinh_p  , khoa = @khoa_p , ngaySinh = @ngaySinh_p , soDienThoai =@soDienThoai_p
	where maSinhVien = @MaSinhVien_p
END
GO
